# Ignore distribution and build directories
dist/
build/
test_algorithm/
pixel_refine_database.db
build_instalasi.txt
syarat.txt
mingw64/
ChangeLog.txt

# Ignore virtual environment directories
venv/
database/

__pycache__/