# Ignore distribution and build directories
dist/
build/
test_algorithm/
pixel_refine_database.db
build_instalasi.txt
syarat.txt
mingw64/
ChangeLog.txt
main.build/
main.dist/
auto_pyd/
nuitka-crash-report.xml
check_db_order_v2.py
view_images_list.py
upx_compression.py
nuitka_build.py
# Ignore virtual environment directories
venv/
database/

__pycache__/